body{background-color:#f8f8f8;}
div{word-wrap:break-word;}
select{border:1px solid #bdbdbd;}
table > thead{font-weight:bold;}
table{word-wrap:break-word;}
.log-logo-t{max-width:200px;}
.notif-t:hover{text-decoration:underline;}
.error{color:red;}
.activator{max-height:250px;overflow:hidden;}
#pesan{border:1px solid #bdbdbd;padding:5px 0px 5px 0px;margin-top:5px;}
.def-input{border:1px solid #bdbdbd !important;padding:5px 0px 5px 0px !important;margin-top:5px !important;}
.container{width:90%;}
.dropdown-content{width:200px !important;}
.logo-t{width:95px;margin-left:15px;}
.logo-l-t{width:85px;border-radius:50%;border:1px solid #2e4bfe;padding:10px;}
.brand-text-t{font-size:18pt;color:#fff;padding:15px 10px 5px 0px;text-align:right;}
.nav-wrapper > ul > li a{font-size:11pt;}
.nav-wrapper > ul > .active{}
.box-t{padding:10px;margin-bottom:20px;background-color:#fff;border:1px solid #bdbdbd;}
.pad2-t{padding:10px;margin-bottom:20px;}
.content-title-t{font-size:16pt;color:#fff;padding:5px;}
.footer-t{background-color:#1c1c1c;height:200px;}
.pad-t{margin-top:50px;margin-bottom:80px;}
.dosen-t{font-size:10pt;}
.category-t > li{padding:5px;}
.category-t > li > a:hover{text-decoration:underline;}
.category-t > .active{font-weight:bold;background-color:#f2f2f2;}
.history-t{color:#1c1c1c;padding:10px;background-color:#fff;border:1px solid #bdbdbd;padding-top:15px;margin-bottom:10px;-webkit-transition:0.4s;-moz-transition:0.4s;-o-transition:0.4s;}
.history-t:hover{background-color:#F3E2A9;}
.badge-t{font-weight:800;font-size:0.8rem;color:#fff;background-color:red;border-radius:2px;padding:1px 7px 1px 7px;}
.filter-t{margin-bottom:-25px;}
.info-t{margin-top:100px;color:#fff;margin-left:0px;}
.collection{border:1px solid #bdbdbd;}
.collection > li{border-bottom:1px solid #bdbdbd;}
.profile-t{height:200px;margin-bottom:120px;}
.profile-img-t{max-width:200px;max-height:200px;margin-top:80px;}
.profile-col{border:0px;}
.img-s-t{max-height:40px;max-width:40px;}
.in-t{background-color:#f2f2f2 !important;margin-right:20px !important;}
.out-t{background-color:#E0F2F7 !important;margin-left:20px !important;}
.msg-t > li{margin-bottom:10px !important;}
.alert{padding:10px;width:100%;border-radius:5px;color:#585858;}
.alert-success{background-color:#9FF781;}
.alert-danger{background-color:#F5BCA9;}
.msg-date-t{font-size:80%;}
.d-title{margin-top:-20px !important;color:#1c1c1c;}
@media only screen and (max-width: 760px) {
	.filter-t{margin-bottom:0px;}
	.info-t{color:#1c1c1c;margin-top:5px;margin-bottom:10px;}
}