body{background-color:#FFF;}
div{word-wrap:break-word;}
select{border:1px solid #bdbdbd;}
table > thead{font-weight:bold;}
.container{width:90%;}
.dropdown-content{width:200px !important;}
.logo-t{width:25px;margin-left:15px;}
.logo-l-t{width:85px;border-radius:50%;border:1px solid #2e4bfe;padding:10px;}
.brand-text-t{font-size:18pt;color:#fff;padding:15px 10px 5px 0px;text-align:right;}
.nav-wrapper > ul > li a{font-size:11pt;}
.nav-wrapper > ul > .active{}
.box-t{padding:10px;margin-bottom:20px;}
.content-title-t{font-size:20pt;color:#fff;padding:5px;}
.footer-t{background-color:#1c1c1c;height:200px;}
.pad-t{margin-top:50px;margin-bottom:80px;}
.dosen-t{font-size:10pt;}
.category-t > li{padding:5px;}
.category-t > li > a:hover{text-decoration:underline;}
.category-t > .active{font-weight:bold;background-color:#f2f2f2;}
.badge-t{font-weight:800;font-size:0.8rem;color:#fff;background-color:red;border-radius:2px;padding:1px 7px 1px 7px;}